.event-log-control {
	display: inline-block;
	float: left;
}
.event-log {
	display: inline-block;
	float: left;
}
.small {
	width: 45px;
	height: 30px;
}
.section {
	margin-top: 0.5em;
}
#slideshow {
	background: #eeeeee url("https://code.jquery.com/ui/1.11.1/themes/cupertino/images/ui-bg_diagonals-thick_90_eeeeee_40x40.png") 50% 50% repeat;
	opacity: .8;
	filter: Alpha(Opacity=80);
	support: IE8;
}
.slideshow-container {
	width: 80%;
	height: 80%;
	margin: auto;
}
.tabs {
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	min-height: 100%;
	font-family: "Avant Garde", Avantgarde, "Century Gothic", CenturyGothic, "AppleGothic", sans-serif;
}
.tabs * {
	outline: none;
	outline: 0;
	font-size: 1em;
	line-height: 1.5em;
}
.tabs .controls {
	font-size: 0.8em;
}
.tabs .tab {
	min-height: 400px;
}